*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    .container{
        max-width: 480px;
        min-height: 100vh;
        margin: auto;
        border: 3px solid rgb(82, 78, 78);
        header{
            
                
                }
            
        }
    }
